/* Загальний стиль */
body {
  font-family: "Roboto", sans-serif; /* Шрифт для всього тексту */
  color: #434455; /* Колір тексту */
  background-color: #ffffff; /* Колір фону */
}

/* Головний стиль для хедера */
.main-header {
  border-bottom: 1px solid #e7e9fc; /* Нижня рамка */
  background-color: #f9f9ff; /* Фон хедера */
  padding: 10px 20px; /* Відступи всередині хедера */
}

/* Стиль для списку контактів */
.contact-items {
  display: flex; /* Розташовує елементи списку горизонтально */
  gap: 40px; /* Встановлює відступи між пунктами списку */
  padding: 0; /* Вимикає внутрішні відступи списку */
  list-style: none; /* Вимикає маркери списку */
}

.contact-items li {
  margin-right: 40px; /* Встановлює відступ для кожного елемента списку */
}

/* Обнулення margin для останнього елемента списку */
.contact-items li:last-child {
  margin-right: 0; /* Для останнього елемента немає відступу справа */
}

.header-container {
  width: 1158px; /* Встановлює фіксовану ширину */
  margin: 0 auto; /* Центрування на сторінці */
  padding: 0 15px 0 15px; /* Внутрішні відступи з повним записом */
  display: flex; /* Гнучке розміщення елементів */
  justify-content: space-between; /* Розташування навігації та контактів по краях */
  align-items: center; /* Вирівнювання по вертикалі */
}

.logo {
  margin-right: 76px; /* Встановлює відступ справа від логотипа */
}

/* Дефолтний клас container для стандартизації розмірів */
.container {
  width: 1158px; /* Встановлює фіксовану ширину для контенту */
  margin: 0 auto; /* Центрування контейнера на сторінці */
  padding: 0 15px; /* Внутрішні відступи з обох боків */
}

.nav-container {
  display: flex; /* Використовує flex для горизонтального розміщення елементів */
  align-items: center; /* Вирівнює елементи по вертикалі */
}

/* Логотип: хедер і футер */
.webstudio-link {
  font-family: "Raleway", sans-serif; /* Шрифт для посилання */
  font-weight: 700; /* Жирність шрифту */
  font-size: 18px; /* Розмір шрифту */
  line-height: 1.17; /* Висота рядка */
  letter-spacing: 0.03em; /* Відстань між літерами */
  text-transform: uppercase; /* Перетворює текст на великі літери */
  color: #4d5ae5; /* Колір тексту */
  text-decoration: none; /* Вимикає підкреслення */
}

.logo-span,
.logo-span-footer {
  color: #2e2f42; /* Колір тексту для логотипа */
}

/* Стиль для навігаційних посилань */
.nav-link {
  font-weight: 500; /* Жирність */
  font-size: 16px; /* Розмір шрифту */
  line-height: 1.5; /* Висота рядка */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #2e2f42; /* Колір тексту */
  text-decoration: none; /* Вимикає підкреслення */
  padding: 24px 0; /* Встановлює вертикальні відступи по 24px для всіх посилань у меню */
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf; /* Колір при наведенні або фокусі */
}

/* Стиль для посилання в контактах */
.contact-link {
  font-size: 16px; /* Розмір шрифту */
  line-height: 1.5; /* Висота рядка */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #434455; /* Колір тексту */
  text-decoration: none; /* Вимикає підкреслення */
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf; /* Колір при наведенні або фокусі */
}

/* Перша секція */
.main-section {
  background-color: #2e2f42; /* Фон секції */
  text-align: center; /* Вирівнювання тексту по центру */
  padding: 188px 0; /* Відступи зверху та знизу */
}

.section-title {
  font-size: 56px; /* Розмір шрифту */
  max-width: 496px; /* Визначення ширини тексту */
  line-height: 1.07; /* Висота рядка */
  text-align: center; /* Вирівнювання тексту по центру */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #ffffff; /* Колір тексту */
  margin-bottom: 20px; /* Відступ знизу */
}

.action-button {
  display: block; /* Для можливості центрування через margin */
  min-width: 169px; /* Мінімальна ширина кнопки */
  height: 56px; /* Висота кнопки */
  border: none; /* Вимкнення стандартного оформлення */
  background-color: var(--primary-color, #4d5ae5); /* Фон кнопки */
  border-radius: 4px; /* Заокруглення */
  cursor: pointer; /* Тип курсору */
}

.action-button:hover,
.action-button:focus {
  background-color: #404bbf; /* Колір фону при наведенні або фокусі */
}

/* Section №2 */
.two-section {
  padding: 120px 0; /* Відступи зверху та знизу */
}

/* Друга секція */
.list-title {
  font-weight: 500; /* Жирність */
  font-size: 20px; /* Розмір шрифту */
  line-height: 1.2; /* Висота рядка */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #2e2f42; /* Колір тексту */
  margin-bottom: 8px; /* 10px Відступ від наступного елемента */
}

.list-paragraph {
  font-size: 16px; /* Розмір шрифту */
  line-height: 1.5; /* Висота рядка */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #434455; /* Колір тексту */
  margin: 0; /* Без додаткових відступів */
}

/* Визначення gap між елементами списку */
.list-section-two {
  margin-right: 24px; /* Відступ для всіх елементів, крім останнього */
  flex-basis: calc((100% - 72px) / 4); /* Ширина елементів списку */
  padding-left: 0;
}

.list-section-two:last-child {
  margin-right: 0; /* Для останнього елемента відступ обнуляється */
}

.list-section-two.team-list {
  display: flex;
  flex-direction: column;
  gap: 24px; /* Відступи між елементами списку */
}

.team-section {
  background-color: #f4f4fd; /* Фон секції */
}

/* Паттерн для приховання заголовка */
.visually-hidden {
  position: absolute; /* Розміщує елемент абсолютно по відношенню до найближчого батьківського елемента, що має позицію */
  width: 1px; /* Встановлює ширину елемента в 1 піксель */
  height: 1px; /* Встановлює висоту елемента в 1 піксель */
  margin: -1px; /* Встановлює відступи навколо елемента, ефективно зміщуючи його */
  border: 0; /* Відключає будь-які межі елемента */
  padding: 0; /* Відключає внутрішні відступи */
  white-space: nowrap; /* Перешкоджає обриву рядків всередині елемента */
  clip-path: inset(100%); /* Застосовує маску, що ховає весь вміст елемента */
  clip: rect(0 0 0 0); /* Інший спосіб маскування вмісту, схожий на clip-path */
  overflow: hidden; /* Ховає будь-який вміст, що виходить за межі елемента */
}

.team-list {
  padding-left: 0; /* Обнуляє дефолтний лівий паддінг */
  list-style: none; /* Видаляє крапки */
  margin: 0; /* Без додаткових відступів */
  display: flex; /* Розташування елементів в ряд */
}

.menu {
  display: flex; /* Розташування елементів меню в ряд */
  gap: 40px; /* Встановлює відступи між пунктами меню */
}

.team-item {
  background-color: #ffffff; /* Фон для елементів списку */
  margin-bottom: 16px; /* Відступ знизу */
}

.team-name {
  font-family: "Roboto", sans-serif; /* Шрифт для імені */
  font-weight: 500; /* Жирність */
  font-size: 20px; /* Розмір шрифту */
  line-height: 1.2; /* Висота рядка */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #2e2f42; /* Колір тексту */
}

/* Section №3 - Третя секція */
/* 2.12.2024 22-40 */

/* Секція з відступами */
. team-section-drei{
  padding: 120px 0; /* Відступи зверху та знизу */
}

/* Заголовок секції */
.team-heading {
  margin-bottom: 72px; /* Відступ між заголовком та списком */
  font-size: 36px; /* Розмір шрифту */
  font-weight: 700; /* Жирність */
  text-align: center; /* Центрування */
  color: #333; /* Колір тексту */
}

/* Список */
.team-list-drei {
  display: flex; /* Горизонтальне розташування елементів */
  gap: 24px; /* Відступи між елементами */
  padding: 0; /* Без внутрішніх відступів */
  margin: 0; /* Без зовнішніх відступів */
  list-style: none; /* Видалення маркерів списку */
}

/* Елемент списку */
.team-item {
  flex-basis: calc((100% - 3 * 24px) / 4); /* Рівна ширина пунктів списку */
  border-radius: 0 0 4px 4px; /* Заокруглення нижніх кутів */
}

/* Контейнер в елементі списку */
.team-content {
  padding: 32px 0; /* Відступи зверху та знизу */
  text-align: center; /* Центрування контенту */
}

/* Зображення */
.team-image {
  width: 100%; /* Ширина зображення */
  height: auto; /* Автоматична висота */
  border-radius: 4px 4px 0 0; /* Заокруглення верхніх кутів */
  display: block; /* Відображення як блочний елемент */
}

/* Ім'я */
.team-name-drei {
  margin-bottom: 8px; /* Відступ від імені до ролі */
  font-size: 20px; /* Розмір шрифту */
  font-weight: 500; /* Жирність */
  line-height: 1.2; /* Висота рядка */
  letter-spacing: 0.02em; /* Міжлітерний інтервал */
  color: #2e2f42; /* Колір тексту */
}

/* Роль */
.team-role-drei {
  text-align: center; /* Центрування тексту */
  font-size: 16px; /* Розмір шрифту */
  color: #666; /* Колір тексту */
  margin: 0; /* Без додаткових відступів */
}
/* END */
/* Section №3 - Третя секція */
/* 2.12.2024 22-40 */


.team-title {
  font-size: 36px; /* Задайте розмір шрифту заголовка */
  font-weight: bold; /* Зробіть текст жирним (опціонально) */
  text-align: center; /* Вирівнювання тексту (опціонально) */
  margin-bottom: 72px; /* Відступ між заголовком і наступним елементом */
  color: #333; /* Колір тексту */
}

/* Стиль для ролі члена команди */
.team-role {
  font-family: "Roboto", sans-serif; /* Шрифт для тексту */
  font-weight: 400; /* Нормальна жирність */
  font-size: 16px; /* Розмір шрифту */
  line-height: 1.5; /* Висота рядка */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #434455; /* Колір тексту */
}

/* Четверта секція (портфоліо) */
.team-section-portfolio {
  background-color: #fdfdfd; /* Фон секції */
}

/* Заголовок портфоліо */
.portfolio-title {
  font-family: "Roboto", sans-serif; /* Шрифт для заголовка */
  font-weight: 700; /* Жирний шрифт */
  font-size: 36px; /* Розмір шрифту */
  line-height: 1.11; /* Висота рядка */
  text-align: center; /* Вирівнювання по центру */
  color: #2e2f42; /* Колір тексту */
}

/* Стиль для елементів портфоліо */
.portfolio-item {
  margin-bottom: 16px; /* Відступ знизу */
}

/* Назва портфоліо */
.portfolio-name {
  font-family: "Roboto", sans-serif; /* Шрифт для імені */
  font-weight: 500; /* Жирність шрифту */
  font-size: 20px; /* Розмір шрифту */
  color: #2e2f42; /* Колір тексту */
}

/* Роль у портфоліо */
.portfolio-role {
  font-family: "Roboto", sans-serif; /* Шрифт для ролі */
  font-weight: 400; /* Нормальна жирність */
  font-size: 16px; /* Розмір шрифту */
  color: #434455; /* Колір тексту */
}

/* Футер */
.site-footer {
  background-color: #2e2f42; /* Фон футера */
}

/* Опис у футері */
.footer-description {
  font-size: 16px; /* Розмір шрифту */
  line-height: 1.5; /* Висота рядка */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #f4f4fd; /* Колір тексту */
}

/* Колір тексту для логотипа в футері */
.logo-span-footer {
  color: #f4f4fd; /* Колір тексту */
}

/* Зображення - блочний контейнер */
.image-container {
  max-width: 600px; /* Максимальна ширина контейнера */
  padding-left: 15px; /* Відступ зліва */
  padding-right: 15px; /* Відступ справа */
  margin-left: auto; /* Центрування контейнера */
  margin-right: auto; /* Центрування контейнера */
}

/* Стиль для зображення */
.block-image {
  display: block; /* Перетворює зображення на блоковий елемент */
  width: 100%; /* Зображення займатиме всю ширину контейнера */
  height: auto; /* Зберігає пропорції зображення */
  margin-bottom: 15px; /* Відступ знизу */
}
